<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://www.skku.edu/_res/skku/img/common/favicon.ico" />
    <meta property="og:title" content="SKKU-DM" />
    <meta property="og:url" content="https://skku-dm.site" />
    <meta property="og:image" content="https://cdn.skku-dm.site/og-img.png" />
    <meta property="og:description" content="성균관대학교 복수전공 정보 플랫폼" />
    <title>{{title}}</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen w-full py-10 text-center">
      <h1 class="text-4xl font-bold">SKKU-DM</h1>
      <p class="pt-5">성균관대학교 복수전공생들을 위한 플랫폼 어플리케이션</p>
    </div>
  </body>
</html>
