{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrder": [
    "^@nestjs(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "html",
        "printWidth": 120
      }
    }
  ]
}
